@import url("http://fonts.googleapis.com/css?family=Muli:300,400");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900");
html, body, .wrapper {
  height: 100%;
}

body {
  background: #a5b13f;
  background: -moz-linear-gradient(top, #a5b13f 0%, #dbd87d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b13f), color-stop(100%, #dbd87d));
  background: -webkit-linear-gradient(top, #a5b13f 0%, #dbd87d 100%);
  background: -o-linear-gradient(top, #a5b13f 0%, #dbd87d 100%);
  background: -ms-linear-gradient(top, #a5b13f 0%, #dbd87d 100%);
  background: linear-gradient(to bottom, #a5b13f 0%, #dbd87d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5b13f', endColorstr='#dbd87d',GradientType=0 );
  font-size: 23px;
  font-size: 6vw;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  color: #404040;
  font-weight: 200;
  position: relative;
}

strong {
  font-weight: 700;
}

button {
  outline-width: 0;
}

input:focus {
  outline: none;
}

.pill {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  width: 75%;
  height: 10vh;
  font-size: 1em;
  font-family: "Muli";
  font-weight: 300;
  background-color: #d2d38c;
  color: white;
  border: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.8em;
}

.bar {
  width: 100%;
  height: 3.2em;
  font-size: 1em;
  font-family: "Muli";
  font-weight: 300;
  background-color: #c46848;
  color: white;
  border: none;
}

.bar-fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
}

.pill-active {
  background-color: #c46848;
}
.pill-active:active {
  background-color: #d79882;
}

.pill-blue {
  background-color: #3b5998;
}
.pill-blue:active {
  background-color: #5f7ec1;
}

.logo {
  font-family: "Source Sans Pro";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
}
.logo span {
  color: #5d331a;
}

.input-form {
  position: absolute;
  height: 2em;
  background-color: white;
  border-top: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
}

.input-field {
  position: absolute;
  display: block;
  top: 30%;
  bottom: 20%;
  padding-left: 0.4em;
}
.input-field input {
  font-weight: 400;
  font-size: 0.6em;
  border: none;
  padding-left: 0.5em;
  padding-bottom: 0.2em;
  position: absolute;
  left: 0;
  right: 0;
  width: 95%;
}
.input-field .input-border {
  height: 0.2em;
  bottom: 0;
  border-width: 1px;
  border-color: #9c9c9c;
  position: absolute;
}
.input-field .input-border-bottom {
  left: 0;
  right: 0;
  border-bottom-style: solid;
}
.input-field .input-border-left {
  left: 0;
  border-left-style: solid;
}
.input-field .input-border-right {
  right: 0;
  border-right-style: solid;
}
.input-field .input-border-active {
  border-width: 2px;
  border-color: #0072bc;
}

.input-right {
  position: absolute;
  left: 91%;
  top: 15%;
  color: #0072bc;
}

.flash-error {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #edd989;
  color: #66230c;
  font-size: 1rem;
  font-weight: 400;
  padding: 2%;
  text-align: center;
  z-index: 999;
}
.flash-error i {
  position: absolute;
  right: 0.5em;
  top: 20%;
}

.top {
  height: 70%;
  position: relative;
  width: 100%;
}

.bottom {
  height: 30%;
  position: relative;
}

.message-container {
  position: absolute;
  text-align: center;
  top: 30%;
  width: 80%;
  left: 10%;
}

.logo-login {
  font-size: 17vw;
  top: 40%;
}

.pill-login {
  position: relative;
}
.pill-login i {
  position: absolute;
  left: 1.2vw;
  font-size: 1.3em;
}
.pill-login span {
  position: relative;
  left: 18px;
}
.pill-login:active {
  background-color: #5f7ec1;
}

.logo-main {
  top: 12%;
  font-size: 12vw;
}

.main-container {
  position: relative;
  top: 45%;
}
.main-container .active {
  background-color: #dae0a9;
}

.main-nav {
  position: relative;
  text-align: center;
}
.main-nav .main-inner {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding: 0.9em 0;
  border-bottom: 1px solid #a3af3e;
}
.main-nav .inner-top {
  border-top: 1px solid #a3af3e;
}

.where-top {
  position: relative;
  height: 30%;
}

.where-bottom .map img {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 30%;
  right: 0;
  z-index: -99;
}

.input-form-where {
  left: 0;
  right: 0;
}

.input-field-where {
  left: 3%;
  right: 10%;
}

.list-container {
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  right: 0.6em;
  bottom: 0;
}
.list-container > div:nth-child(2n-1) {
  background-color: #d7dc92;
}
.list-container > div:nth-child(2n) {
  background-color: #e3e8a3;
}

.list-spinner {
  position: relative;
  top: 35vh;
  text-align: center;
  font-size: 3em;
  color: #e0e3b7;
}

.list-head {
  font-weight: 300;
  padding: 0.3em 0.6em;
}

.list-rider {
  position: relative;
  margin-bottom: 0.6em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
}

.list-rider-caraddress {
  display: inline-block;
  height: 100%;
  width: 70%;
}
.list-rider-caraddress > span {
  display: inline-block;
  padding: 1.2em;
  font-weight: 400;
  font-size: 0.8em;
  color: #404040;
}

.list-rider-cardistance {
  position: absolute;
  bottom: 0.8em;
  right: 0.5em;
}

.list-rider-mi {
  font-weight: 700;
  font-size: 1em;
  color: #0072bc;
}

.list-rider-rideraddress {
  position: absolute;
  color: #c46848;
  bottom: 0.4em;
  left: 1.7em;
  font-size: 0.5em;
  font-weight: 400;
}
.list-rider-rideraddress span {
  font-family: "Muli";
  color: #c46848;
  padding-right: 0.3em;
}

.goodbye-message {
  font-weight: 700;
}

.profile-picture {
  display: block;
  position: relative;
  height: 28vh;
  width: auto;
  margin: 0 auto;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
}

.pickup-message {
  height: 30vh;
  position: relative;
}

.phone-form {
  position: absolute;
  top: 75%;
  height: 5em;
  background-color: white;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  width: 80%;
  left: 10%;
}

.input-form-phone {
  top: 0.5em;
  left: 0;
  right: 0;
  border: none;
}

.input-field-phone {
  left: 3%;
  right: 3%;
}

.bar-phone {
  bottom: 0;
  position: absolute;
  height: 2em;
  -webkit-border-radius: 0 0 0.3em 0.3em;
  -moz-border-radius: 0 0 0.3em 0.3em;
  -ms-border-radius: 0 0 0.3em 0.3em;
  -o-border-radius: 0 0 0.3em 0.3em;
  border-radius: 0 0 0.3em 0.3em;
}
