        ////////////////////
        // FONTS & COLORS //
        ////////////////////

@import url("http://fonts.googleapis.com/css?family=Muli:300,400");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900");
@import url("http://fonts.googleapis.com/css?family=Lato:200,400,700");

$brown:      #5d331a;
$blue:       #3b5998;
$lightBlue:  #0072bc;
$red:        #c46848;
$darkGreen:  #a5b13f;
$lightGreen: #cbc765;
$paleGreen:  #d2d38c;
$darkGrey:   #404040;
$lightGrey:  #9C9C9C;

        ////////////
        // MIXINS //
        ////////////

@mixin background-gradient($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2));
  background: -webkit-linear-gradient(top, $color1 0%,$color2 100%);
  background: -o-linear-gradient(top, $color1 0%,$color2 100%);
  background: -ms-linear-gradient(top, $color1 0%,$color2 100%); 
  background: linear-gradient(to bottom, $color1 0%,$color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbc765', endColorstr='#a5b13f',GradientType=0 );
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

        ///////////////
        // SITE WIDE //
        ///////////////

html, body, .wrapper {
  height: 100%;
}

body {
  @include background-gradient($darkGreen, $lightGreen);
  font-size: 23px; /* Fallback property */
  font-size: 6vw;
  font-family: "Helvetica Neue", "Lato", Helvetica, sans-serif;
  color: $darkGrey;
  font-weight: 100;
  position: relative;
}

strong {
  font-weight: 700;
}

button {
  outline-width: 0;
}

input:focus {
  outline: none;
}

.pill {
  @include border-radius(0.3em);
  width: 75%;
  height: 3.2em;
  font-size: 1em;
  font-family: "Muli";
  font-weight: 300;
  background-color: $paleGreen;
  color: white;
  border: none;
  display: block;
  margin: 0 auto;
}
.pill-active {
  background-color: $red;
  &:active {
    background-color: lighten($red, 15%);
  }
}

.top {
  height: 70%;
  position: relative;
  text-align: center;
}

.bottom {
  height: 30%;
  position: relative;
}

.logo {
  font-family: "Source Sans Pro";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  span {
    color: $brown;
  }
}

        ////////////////
        // LOGIN PAGE //
        ////////////////

.logo-login {
  font-size: 17vw;
  top: 40%;
}

.log-in {
  background-color: $blue;
  position: relative;
  i {
    position: absolute;
    left: 5vw;
    font-size: 1.6em;
  }
  span {
    position: relative;
    left: 18px;
  }
  &:active {
    background-color: lighten($blue, 15%);
  }
}


        ///////////////
        // MAIN PAGE //
        ///////////////

.logo-main {
  top: 12%;
  font-size: 12vw;
}

.main-container {
  position: relative;
  top: 45%;
  .active {
    background-color: lighten($darkGreen, 30%);
  }
}

.main-nav {
  position: relative;
  .main-inner {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 0.9em 0;
    border-bottom: 1px solid darken($darkGreen, 10%);
  }
  .inner-top {
    border-top: 1px solid darken($darkGreen, 10%);
  }
}


        ////////////////
        // WHERE PAGE //
        ////////////////


.where-top {
  position: relative;
  height: 30%;
}

.where-message {
  position: relative;
  text-align: center;
  top: 35%;
}
.where-bottom {
  .bar {
    width: 100%;
    height: 3.2em;
    font-size: 1em;
    font-family: "Muli";
    font-weight: 300;
    background-color: $red;
    color: white;
    border: none;
    position: fixed;
    bottom: 0;
  }
  .map img {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 30%;
    right: 0;
    z-index: -99;
  }
  .formbox {
    position: absolute;
    left: 0;
    right: 0;
    height: 2em;
    background-color: white;
    border-top: 1px solid $lightGrey;
    border-bottom: 1px solid $lightGrey;
    .inputbox {
      position: absolute;
      display: block;
      left: 3%;
      right: 10%;
      top: 30%;
      bottom: 20%;
      padding-left: 0.4em;
      input {
        font-weight: 300;
        font-size: 0.7em;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none;
        padding-left: 0.5em;
        padding-bottom: 0.2em;
        position: absolute;
        left: 0;
        right: 0;
      }
      .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid $lightBlue;
      }
      .left {
        left: 0;
        border-left: 1px solid $lightBlue;
      }
      .right {
        right: 0;
        border-right: 1px solid $lightBlue;
      }
      .corner {
        height: 0.3em;
        bottom: 0;
        position: absolute;
      }
    }
    i {
      position: absolute;
      left: 92%;
      top: 23%;
      color: $lightBlue;
    }
  }
}