<div slide-down="err" class="flash-error">{{ err.reason }}</div>
<div class="top">
  <div class="message-container">
    <strong>Welcome to ParkSwap!</strong><br /><br />
    Just one thing, please enter your phone number.
  </div>
  <div class="phone-form">
    <form ng-submit="sendPhoneNumToServer()">
      <div class="input-form input-form-phone">
        <div class="input-field input-field-phone">
          <input ng-model="userPhoneNum" placeholder="(###) ###-####" ng-focus="toggleFocus()" ng-blur="toggleFocus()"></input>
          <div class="input-border input-border-left" ng-class="{'input-border-active': focused}"></div>
          <div class="input-border input-border-right" ng-class="{'input-border-active': focused}"></div>
          <div class="input-border input-border-bottom" ng-class="{'input-border-active': focused}"></div>
        </div>
      </div>
    </form>
    <button class="bar bar-phone">submit</button>
  </div>
</div>
