<div class="top">
  <div class="logo logo-main">
    Park<span>Swap</span>
  </div>
  <div class="main-container">
    <div class="main-nav main-spot" ng-click="toggleSpot()" ng-class="{'active':clicked == 'spot'}">
      <div class="main-inner inner-top">
        I want a <strong>spot</strong>
      </div>
    </div>
    <div class="main-nav main-ride" ng-click="toggleRide()" ng-class="{'active':clicked == 'ride'}">
      <div class="main-inner">
        I want a <strong>ride</strong>
      </div>
    </div>
  </div>
</div>
<div class="bottom">
  <button class="pill active" ng-if="!selected()">go</button>
  <button class="pill pill-active" ng-if="selected()" ng-tap="go()">go</button>
</div>