<i class="icon-angle-circled-left back-icon" ng-click="home()"></i>
<div class="top">
  <div class="pickup-message">
    <div class="message-container">
      <strong>{{ parker.name }}</strong> is giving you a ride!
    </div>
  </div>
    <img src="http://graph.facebook.com/{{ parker.uid }}/picture?height=300&type=normal&width=480" class="profile-picture"></img>
</div>
<div class="bottom">
  <button class="pill pill-active" ng-click="callParker()">call {{ parker.first_name.toLowerCase() }}</button>
</div>