<div class="flash-error" slide-down="err">{{ err.reason }}<i class="icon-cancel-circle"></i></div>
<div class="top-30">
  <div class="message-container">
    <strong>Great!</strong><br />
    Where is your car parked?
  </div>
</div>
<form ng-submit="submitRider()">
  <div class="input-form input-form-where">
    <div class="input-field input-field-where">
      <input ng-model="carLocation" ng-focus="toggleFocus()" ng-blur="toggleFocus()" type="text" placeholder="123 Fake St., San Francisco, CA" />
      <div class="input-border input-border-left" ng-class="{'input-border-active': focused}"></div>
      <div class="input-border input-border-right" ng-class="{'input-border-active': focused}"></div>
      <div class="input-border input-border-bottom" ng-class="{'input-border-active': focused}"></div>
    </div>
    <i class="icon-target input-right" ng-click="showCarLocation()"></i>
  </div>
  <button class="bar bar-fixed-bottom">go</button>
</form>
<div class="mapView">
 <div ui-map="myMap" ui-options="mapOptions" class="map-canvas"  ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }">
 </div>
</div>
